<h2 class="d-flex justify-content-center">Create an account or login Below!</h2>

<form class="container p-5">
  <h3>Sign Up</h3>

  <div class="form-outline pt-3 mb-4">
    <input type="text" id="form2Example1" class="form-control" />
    <label class="form-label" for="form2Example1">Username</label>
  </div>

  <div class="form-outline mb-4">
    <input type="email" id="form2Example1" class="form-control" />
    <label class="form-label" for="form2Example1">Email address</label>
  </div>

  <div class="form-outline mb-4">
    <input type="password" id="form2Example2" class="form-control" />
    <label class="form-label" for="form2Example2">Password</label>
  </div>

  <button type="button" class="btn btn-primary btn-block mb-4">Submit</button>

  <div class="text-center">
    <h3>Already a member?</h3>
  </div>

</form>

<form class="container p-5">
  <h3>Login</h3>

  <div class="form-outline mb-4 pt-3">
    <input type="email" id="form2Example1" class="form-control" />
    <label class="form-label" for="form2Example1">Email address</label>
  </div>

  <div class="form-outline mb-4">
    <input type="password" id="form2Example2" class="form-control" />
    <label class="form-label" for="form2Example2">Password</label>
  </div>

  <button type="button" class="btn btn-primary btn-block mb-4">Login</button>


</form>

<script src="js/login.js"></script>